
.fancy-slider{
  font-family: 'Roboto', sans-serif;
}
 .arrow-down{
     width: 0px;
     height: 0px;
     border-left: 3px solid transparent;
     border-right: 3px solid transparent;
     border-top: 4px solid rgba(255, 255, 255, 0.9);
     position: absolute;
     top: 20px;
     left: 50%;
     transform: translate(-50%,-50%);
}

.triangle-left {
  cursor: pointer;
  position: absolute;
  top: 50px;
  left:10px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 8px solid rgba(255, 255, 255, 0.9);
	border-bottom: 5px solid transparent;
}

.triangle-right {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 10px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 8px solid rgba(255, 255, 255, 0.9);
	border-bottom: 5px solid transparent;
}

 .figure-container{
     background-color: rgba(255, 255, 255, 0.9);
     position: absolute;
     padding: 0 2px 0 1px;
     left: 0px;
     top: 2px;
     border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
     -webkit-border-radius: 3px 3px 3px 3px;
     border: 0px solid rgba(0, 0, 0, 0.25);
     min-width: 20px;
     text-align: center;
}
 .figure{
     font-size: 12px;
     top: -2px;
     position: relative;
}
 .lfigure{
     color: rgba(255, 255, 255, 0.8);
     font-size: 11px;
     top: 2px;
     left: -9px;
     position: absolute;
}
 .rfigure{
     color: rgba(255, 255, 255, 0.8);
     font-size: 11px;
     top: 2px;
     right:20px;
     position: absolute;
}
 .selector{
     border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
     -webkit-border-radius: 4px 4px 4px 4px;
     border: 0px solid #000000;
     background-color: #353535;
     height: 70px;
     width: 330px;
     z-index:1;
     position: relative;
}
 .selector-inner{
     left: 15px;
     position:relative;
     width: 300px;
     z-index: 1;
}
 .lef-line{
     z-index: 200;
     height: 18px;
     background-color: rgba(255, 255, 255, 0.59);
     width: 1px;
     top: 17px;
     position: absolute;
}
 .right-line{
     right:0px;
     z-index: 200;
     height: 18px;
     background-color: rgba(255, 255, 255, 0.59);
     width: 1px;
     top: 17px;
     position: absolute;
}
 .center-line{
     left:50%;
     z-index: 200;
     height: 14px;
     background-color: rgba(255, 255, 255, 0.59);
     width: 1px;
     top: 21px;
     position: absolute;
}
 .line{
     z-index:200;
     height: 2px;
     background-color: rgba(255, 255, 255, 0.59);
    ;
     width: 100%;
     top:35px;
     position:absolute;
}

